<img src="assets/img/burger_sandwich.png" alt="burger" height="150" width="150">
<h2>Eat The Burger!!</h2>
<form class="create-form">
  <div class="form-group">
    <textarea type="text" id="ca" name="name" rows="2" cols="50" placeholder="Enter a burger you want to eat today..."></textarea>
  </div>
  <button type="submit">Add The Burger</button>
</form>

<h3>Burgers left to Devour</h3>

<ul class="w3-ul" style="width:50%">
  {{#each burger}}
    {{#unless devoured}}
      {{> burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h3>Order Again!!!</h3>

<ul class="w3-ul" style="width:50%">
  {{#each burger}}
    {{#if devoured}}
      {{> burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>